@if (posts.length === 0) {
<p class="info-text">No posts available.</p>
} @else {
    <mat-accordion multi="true">
        @for (post of posts; track post) {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                {{post.title}}
            </mat-expansion-panel-header>
            <p>{{post.content}}</p>
            <mat-action-row>
                <button mat-flat-button>Edit</button>
                <button mat-flat-button>Delete</button>
            </mat-action-row>
        </mat-expansion-panel>
        }
    </mat-accordion>
}